<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Quiz Game</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
          <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <h1>Welcome to the Quiz Game!</h1>
    <p>Test your knowledge and challenge others!</p>
    <div>
        <a href="/login">Login</a> | <a href="/register">Register</a>
    </div>
</body>
</html>
