<html>
<head>
    <title>Quiz Template</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>

<body>
    <div class="quiz-page-template-container">
        <div class="quiz-header-container">
            <div class="quiz-name-text-container">
                <span class="quiz-name-text"><a href="/">TRX Quiz</a></span>
            </div>
            <div class="page-header-button-container">
                <button class="page-header-button" onclick="window.location='/register'">
                    Register
                </button>
                <button class="page-header-button" onclick="window.location='/login'">
                    Login
                </button>
            </div>
        </div>
        <div class="quiz-main-page" id="quiz-main-page">
            <div class="quiz-question-container" id="quiz-question-container">
                <h2>Welcome to the TRX Quiz Game!</h2>
                <h4>Test your knowledge and challenge others!</h4>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/fetch-wrapper.js"></script>
</body>

</html>