<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <!-- Aggiungi il link al CSS di Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Pagina Admin</h1>
                        <p class="card-text">Benvenuto nella pagina admin!</p>
                        <h5>Dati carta di credito aziendale (per non dimenticare):</h5>
                        <p>Numero: TRX{8572 9090 2480 1337}</p>
                        <p>CVV: 741</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Aggiungi il link al file JavaScript di Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

