<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <!-- Aggiungi il link al CSS di Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Home Page</h1>
                        <p class="card-text">Devo ancora costruire il sito, ma ho già un pannello per gli admin.</p>
                        <a href="/admin" class="btn btn-primary">Vai alla pagina admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Aggiungi il link al file JavaScript di Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

